@import url(../fonts/merriweather.css);
@import 'button__Social.scss';
@import 'main__header.scss';
@import 'main__content.scss';

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    height: 100%;

}


@media (max-width: 425px) {
    .html, body {
      background-image: url(../images/background__mobile.jpg);
    }
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
